<% include partials/header %>

    <h1>Create New Project</h1>

    <form action="/projectdisplaypost" method="POST">

        <input type="text" name="name" placeholder="Project Name">
        <input type="text" name="image" placeholder="Image URL">
        <button>Submit</button>

    </form>

    <% include partials/footer %>