<% include partials/header %>

    <div class="container">
        <header class="jumbotron">
            <h1>Frontview Engineers</h1>

        </header>

        <a href="/projectdisplay">View Project Photos</a>


    </div>

    <% include partials/footer %>